/* autumnBanner */
@media screen and (max-width: 1000px) {
    #autumnBanner {
      display: none !important;
    }
  }
  #autumnBanner {
    height: 100%;
    position: relative;
    overflow: hidden;
    filter: brightness(70%);
  }
  
  #autumnBanner > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    --offset: 0px;
    --blur: 2px;
  }
  
  #autumnBanner > div > img {
    display: block;
    width: 110%;
    height: 100%;
    object-fit: cover;
  
    transform: translatex(var(--offset));
    filter: blur(var(--blur));
  }
  
  /* winterBanner */
  @media screen and (max-width: 1000px) {
    #winterBanner {
      display: none !important;
    }
  }
  
  #winterBanner {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    --percentage: 0.5;
  }
  
  #winterBanner .view, #winterBanner .tree {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #winterBanner img, #winterBanner video {
    position: absolute;
    display: block;
    max-width: 120% !important;
    width: 120% !important;
    ;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  #winterBanner .morning {
    z-index: 20;
    opacity: calc(1 - (var(--percentage) - 0.25) / 0.25);
  }
  
  #winterBanner .afternoon {
    z-index: 10;
    opacity: calc(1 - (var(--percentage) - 0.5) / 0.5);
  }
  
  #winterBanner .view {
    transform: translatex(calc(var(--percentage) * 100px));
  }
  
  #winterBanner .tree {
    transform: translatex(calc(var(--percentage) * 50px));
    filter: blur(3px);
  }
  
  #winterBanner .view,
  #winterBanner .tree,
  #winterBanner .morning,
  #winterBanner .afternoon {
    transition: .2s all ease-in;
  }
  
  #winterBanner.moving .view,
  #winterBanner.moving .tree,
  #winterBanner.moving .morning,
  #winterBanner.moving .afternoon {
    transition: none;
  }
  
  #winterBanner .window-cover {
    opacity: calc((var(--percentage) - 0.9) / 0.1);
  }


  /* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}


/* 最新文章图标 */
.newPost {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.92);
  padding: 0 15px;
  background-color: #49b0f5b9;
  border-radius: 0 0 10px 10px;
  right: 40px;
}
@media screen and (max-width:600px){
.newPost {
  right: 0px;
  padding: 0 12px;
  border-radius: 0 10px 0px 10px;
}
}
